* {
    padding:0;
    margin:0;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background-color: white; */
    /* color: white; */
}

.headerImage {
    background-image: url('../static/images/CompTech.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    /* min-height: 30vh; */
}

.eduImage {
    background-image: url('../static/images/education.jpg'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    /* min-height: 30vh; */
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    font-size: 2.2em;
    list-style-type: none;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    background-color: crimson;
}

#nav a {
    text-decoration: none;
    color: white;
}

#title {
    font-size: 5.2em;
    /* margin-bottom: 20px; */
    color: white;
    text-align: center;
    -webkit-text-stroke: 2px black;
    /* text-shadow: 0px 0px 5px black; */
    padding-top: 3%;
    padding-bottom: 1%;
}

.hide {
    display:none;
}

#title:hover + .hide {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-style: italic;
    font-size: 5.2em;
    margin-bottom: 20px;
}

.paragraph { 
    flex: 3;
    font-size: 1.6em;
    color:white;
    font-weight: 800;
    /* color:black; */
    -webkit-text-stroke: 1px black;
}

.pLarger {
    font-size: 32px;
    -webkit-text-stroke: 1.75px black;
}

.row, #row-about, .row-edu, .location-years, .row-contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* margin-bottom: 20px;  */
    gap: 20px;
}

#row-about {
    padding: 20px 10px 20px 10px;
    margin-bottom: 0px; 
    /* background-image: linear-gradient(red, blue); */
    /* background-image: url('../static/images/la.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

.about {
    align-items: center;
    display: flex;
    flex: 1 1;
    height: 100%;
    justify-content: center;
    position: relative;
}
    /* object-fit: contain;
    width: 100%;
    z-index: 1; */
/* } */

.user-pic{
    height: 150px;
    transform:scale(1, 1);
    transition: 500ms;
    border-radius: 50%;
}

.user-picL{
    /* height: 550px; */
    transform:scale(1, 1);
    transition: 500ms;
    border-radius: 50%;
}

.user-pic:hover {
    transform:scale(1.75, 1.75);
}

.skills {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.skills-Container {
    width: 100%;
    margin-top: 3rem;

    display: flex;
    flex-direction: row;

    @media screen and (max-width: 900px) {
        width: 100%;
        flex-direction: column;
    }
}

.skills-List {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    margin-right: 5rem;

    @media screen and (max-width: 900px) {
        margin-right: 0;
        justify-content: center;
        align-items: center;
    }
}

.skills-Item {
    flex-direction: column;
    margin: 1rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    
    div {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: #fef4f5;

        img {
            width: 50%;
            height: 50%;
        }

        &:hover {
            box-shadow: 0 0 25px #fef4f5;
        }

        @media screen and (min-width: 2000px) {
            width: 150px;
            height: 150px;
        }

        @media screen and (max-width: 450px) {
            width: 70px;
            height: 70px;
        }
    }

    p {
        font-weight: 600;
        margin-top: 0.5rem;
    }

    @media screen and (min-width: 2000px) {
        margin: 1rem 2rem;

        p {
            margin-top: 1rem;
        }
    }
}

.flex {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* .javascriptPic {
    
} */

/* .user-picL:hover {
    transform:scale(1.75, 1.75);
} */

.paragraph { 
    flex: 3;
    font-size: 1.5em;
}

#education {
    font-size: 5.2em;
    color: white;
    text-align: center;
    /* -webkit-text-stroke: 2px black; */
    text-shadow: 0px 0px 5px black;
    padding-top: 30px;
}

.row-edu {
    gap: 75px;
    padding-bottom: 1%;
}

.edu{
    
    display: flex;
    flex: 4;
    flex-direction: column;
    gap: 5px;
    list-style-type: none;
    color:white;
    text-shadow: 0px 0px 5px black;
    /* background-color: red; */
}

.icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.even {
    flex: 2;
    text-align: end;
    /* background-color: blueviolet; */
}

.workImage{
    background-image: url('../static/images/work.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 20vh;
}

#experience {
    font-size: 5.2em;
    text-align: center;
    color: red;
    -webkit-text-stroke: 2px black;
    /* text-shadow: 0px 0px 5px black; */
    padding-top: 30px;
}

.work {
    margin: 0px 20px 0px 20px;
    color: red;
        -webkit-text-stroke: .25px black;
    /* text-shadow: 0px 0px 5px black; */
    padding-bottom: 10px;
    /* background-color: blueviolet; */
}

.workBg {
    background: rgba(176, 176, 221, 0.8) 
}

.location-years {
    margin-bottom: 0px; 
    justify-content: space-between;
    /* background-color: brown; */
}

.locationUnderline {
    text-decoration: underline red;
}

.responsiblities {
    margin-left: 3%;
    font-size: 25px;

}

.projectImage{
    background-image: url('../static/images/projects.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 20vh;
}

#project-title {
    font-size: 5.2em;
    text-align: center;
    -webkit-text-stroke: 2px black;
    /* text-shadow: 0px 0px 5px black; */
    color: orangered;
    padding-top: 30px;
}

.project-name {
    font-size: 5.2em;
    text-align: center;
    -webkit-text-stroke: 2px black;
    /* text-shadow: 0px 0px 5px black; */
    color: orangered;
    text-decoration: underline orangered;
    padding-top: 30px;
}

.projectImage{
    background-image: url('../static/images/projects.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 20vh;
}

.projectFlex {
    display: flex;
    flex:wrap;
    align-items: center;
    font-size: 3.2em;
    /* text-align: center; */
    /* text-shadow: 0px 0px 5px black; */
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    background: rgba(176, 176, 221, 0.8) 
}

#skills {
    font-size: 5.2em;
    text-align: center;
    -webkit-text-stroke: 2px black;
    /* text-shadow: 0px 0px 5px black; */
    color: white;
    padding-top: 30px;
}

.skill-list {
    font-size: 5.2em;
    text-align: center;
    /* text-shadow: 0px 0px 5px black; */
    /* color: white; */
    color:black;
    -webkit-text-stroke: 1px white;
}

.bold-skills{
    color:black;
    font-weight:bold;
}

.skillsImage{
    background-image: url('../static/images/skills.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 20vh;
}

video {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: -50px;
    margin-bottom: -50px;
    /* margin-left: 20px; */
    margin-right: 20px;
}

.contactImage {
    background-image: url('../static/images/CompTech.jpg');
    /* background-image: url('../static/images/education.jpg');  */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 20vh;
}

#contact {
    font-size: 5.2em;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 5px black;
}

.email {
    font-size: 5.2em;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 5px black;
}



.row-contact {
    justify-content: center;
    gap:100px;
    align-items: flex-start;
}

.icon-columns {
    display: flex;
    flex-direction: column;
}


#swing {
    position: fixed;
    bottom: 20%;
    left: 70%;

}   

.links-name:hover + .hide {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-style: italic;
    font-size: 1.5em;
    /* -webkit-text-stroke: .5px black; */
}
