* {
    padding:0;
    margin:0;
}

video {
    width: 50%;
    background-color: #fef4f5;
    padding: .5rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    @media screen and (max-width: 993px) {
        width: 100%;
        padding: .25rem;
    }
    

}

#Projects {
    font-size: 5.2rem;
    text-align: center;
    -webkit-text-stroke: 2px black;
    color: black;
    padding-top: 30px;
}

.project-name {
    font-size: 5.2rem;
    text-align: center;
    -webkit-text-stroke: 2px black;
    color: rgb(179, 65, 65);
    text-decoration: underline rgb(179, 65, 65);
    padding-top: 30px;
    @media screen and (max-width: 992px) {
        font-size: 3rem;
        padding-top: 15px;
    }
    @media screen and (min-width: 993px) and (max-width: 1280px) {
        font-size: 3rem;
        padding-top: 15px;
    }
}

.space {
    margin-left: 16px;
    @media screen and (max-width: 993px) {
        margin-left: 0px;
    }
}

.projectFlex {
    display: flex;
    flex:wrap;
    align-items: center;
    font-size: 3.2rem;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    @media screen and (max-width: 1280px) {
        flex-direction: column;
    }
    @media screen  and (max-width: 576px) {
        font-size: 1.5rem;
    }
    @media screen and (min-width: 577px) and (max-width: 768px) {
        font-size: 2.0rem;
    }
    @media screen and (min-width: 769px) and (max-width: 992px) {
        font-size: 2.3rem;
    }
    @media screen and (min-width:993px) and (max-width: 1280px) {
        font-size: 2.8rem;
    }
}

.icon-flex {
    display: flex;
    flex-direction: row;
}