* {
    padding:0;
    margin:0;
}

#experience {
    font-size: 5.2rem;
    text-align: center;
    color: black;
    -webkit-text-stroke: 2px black;
    padding-top: 30px;
    @media screen and (max-width: 993px) {
        font-size: 3rem;
    }
}

.work {
    margin: 0px 20px 0px 20px;
    color: black;
        -webkit-text-stroke: .25px black;
    padding-bottom: 10px;
}

.location-years {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0px; 
    justify-content: space-between;
    gap: 20px;
    @media screen and (max-width: 993px) {
        font-size: .75rem;
    }
    @media screen and (max-width: 1280px) {
        flex-direction: column;
        align-items: start;
    }
}

.locationUnderline {
    text-decoration: underline black;
}

.responsiblities {
    margin-left: 3%;
    font-size: 1.5rem;
    @media screen and (max-width: 993px) {
        font-size: 1rem;
    }
}